@import url('https://fonts.googleapis.com/css?family=Cambay:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap');

body {
    background: #FFF;
    font-family: 'Cambay', sans-serif;
}

h1 {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-family: 'Tenor Sans', sans-serif;
}

.imgCard {
    width: 250px;
}

.card {
    margin-top: 25px;
    padding: 10px;
}

.cardTitle {
    font-size: 35px;
    font-weight: bold;
}

.alert {
    margin-top: 30px;
}
