@import url('https://fonts.googleapis.com/css?family=Cambay:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap');

body {
    background: #FFF;
    font-family: 'Cambay', sans-serif;
}

h1 {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-family: 'Tenor Sans', sans-serif;
}

.imgCard {
    width: 250px;
    margin: 0 auto;
}

.card {
    margin-top: 25px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardTitle {
    font-size: 35px;
    font-weight: bold;
}

.alert {
    margin-top: 30px;
}

h2 {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    font-family: 'Tenor Sans', sans-serif;
}
.card-body {
    width: 50vh;
    margin: 0 auto;
}
iframe {
    width: 35vmax;
    height: 23vmax;
}
canvas {
    margin: 0 auto;
}